version: '3'
services:
  elasticsearch:
    image: elasticsearch:7.5.2
    ports: 
        - "9200:9200"
        - "9300:9300"
    environment: 
        - "discovery.type=single-node"
  kibana:
    image: kibana:7.5.2
    ports: 
        - "5601:5601"
  nginx:
    image: nginx:1.17.8
    ports:
        - "8080:80"
    # logging configuration docs: https://docs.docker.com/config/containers/logging/fluentd/
    logging:
        driver: fluentd
        options:
            fluentd-async-connect: "true" # buffer messages until connection is established to the fluent-bit sidecar
            # tag: docker.{{.ID}}
  fluentbit:
    image: fluent/fluent-bit:1.3.6
    command: /fluent-bit/bin/fluent-bit -c /fluent-bit/etc/fluent.conf
    volumes:
        - ./fluent-bit.conf:/fluent-bit/etc/fluent.conf
    ports:
        - "24224:24224"